<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>OAuth Framework</display-name>

    <listener>
        <listener-class>com.zoho.oauth.metadata.OAuthFrameWorkConfiguration</listener-class>
    </listener>

    <servlet>
        <servlet-name>OAuthServlet</servlet-name>
        <servlet-class>com.zoho.oauth.request.managers.OAuthServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OAuthServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>